.App {
  margin: 50px auto;
  max-width: 317px;
  background-color:#1A1B21;
  width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  text-align: center;
}

.info--image {
  border-radius: 10px 10px 0 0 ;
  box-shadow: inset 0 0 100px black;
  /*opacity: 0.8;*/
}

.info--title {
  font-size: 25px;
  font-weight: 700;
  margin-top: 21px;
  margin-bottom: 6.19px;
}

.info--job_position {
  font-size: 12.8px;
  font-weight: 400;
  color: #F3BF99;
  margin-top: 0;
}

.info--website_link {
  margin-top: 8.81px;
  font-weight: 400;
  font-size: 10.24px;
  color: #F5F5F5;
  text-decoration: none;
}

.info--button {
  display: flex;
  justify-content: center;
  gap: 17px;
  margin-top: 15px;
}

.info--button_email, .info--button_linkedin {
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;
  gap: 8px;

  width: 115px;
  height: 34px;

  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.info--button_email {
  color: #374151;
  background: #FFFFFF;
  border: 1px solid #D1D5DB;
}

.info--button_linkedin {
  color: #FFFFFF;
  background: #5093E2;
}

.about, .interest {
  font-weight: 400;
  color: #DCDCDC;
  margin: 0 36px 0 34px;
}

.about {
  margin-top: 33px;
}

.interest {
  margin-top: 15px;
  margin-bottom: 42px;
}


.about--title, .interest--title {
  font-weight: 700;
  font-size: 16px;
  margin: 0;
}

.about--body, .interest--body {
  margin-top: 5px;
  font-weight: 400;
  font-size: 10.24px;
  margin-bottom: 0;
}

footer {
  width: 100%;
  padding: 20px 0;
  background: #161619;
}

.footer--icon {
  display: flex;
  justify-content: center;
  gap:24px;
  font-size: 12.8px;
  font-weight: 400;
}